*{
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
body {
    background-color: white;
    width: 100%;
    height: 100%;
}
/*whole top*/
.sectiontop {
    
    min-height:8rem;   
    max-height: 8rem;
    position: fixed;
    z-index: 1;
}
/*menu nav*/  
.menu {
    height:30%;
    background: linear-gradient(to right, blue,rgb(58, 194, 240),purple,plum,pink,rgb(243, 106, 106));
}
.menu ul{
    display: flex;
    list-style: none ;
    border: solid 2px white;
    border-bottom: 0px;
    min-height: 20%;
}
.menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow:3;
    flex:1;
    border:white solid 1px;
    border-left:0;
    border-bottom: 0; 
    overflow: hidden; 
}
li#norm {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: 600;
    flex-grow:2.5;
}
li#sc{
    flex-grow:1;
    font-weight: 700;
}
a {
    text-decoration: none;
    text-align: center;
    height: auto;
    font-size: 1.5rem;
    color: white;
    transition: 1s ease-in-out;
    width: 100%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
a:hover{
    transform: scale(1.5) rotate(-360deg);
}
/*header and bannder */
.header{
    height:70%;
    display: flex;
    background-image: url(obrazki/parked-cars-near-diamond-beach-iceland-picjumbo-com.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 70%;
    background-attachment: scroll;
    flex-direction: column;
    border: 2px solid white;
    border-bottom: 4px solid white;
    animation-name: greeting;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}
.header .baner {
    height:60%;    
}
.baner h1 {
    display: flex;
    font-size:2.5rem;
    align-items: center;
    justify-content: center;
    border-bottom: 2px white solid;
    animation-name: greeting;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.greeting {
    height: 40%;
}
.greeting h3 {
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation-name: greeting;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
@keyframes greeting{
    0% {opacity:0;}
    100% {opacity:1;}
}
/* main */
.content {
    display: flex;
    background-color: white;
    padding-top:8rem;
    height: 100%;
}
/*left side of content/main section*/
.left {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    flex:1;
    padding-bottom: 1.5rem;
    height: 1771px;
    min-width: 620.5px;
    max-width: 50%;
}
#up{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 143, 143);
    height: 50%;
    border: 10px white solid;
    align-items: center;
    background-image: url(obrazki/grossglockner-road-austria-picjumbo-com.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    min-height: 273px;
    max-height: 25%;
}
#up h2{
    font-size: 2rem;
    height: auto;
    padding-top:5px;
    padding-bottom: 5px;
    letter-spacing: 1px;
    color:rgb(255, 255, 255);
    background-color: hsla(164, 0%, 100%, 0.7);
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-bottom: 20px;
}
#p2{
    margin-bottom: 1rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    min-height: 173px;
    max-height: 175px;
}
#up p{
    display: flex;
    font-size: 1.3rem;
    flex:2;
    height: 100%;
    width:450px;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border:2px solid white;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: hsla(164, 0%, 100%, 0.7);
    border-radius:  25%;
    letter-spacing: 1px;
}
#down{
    display: flex;
    flex-direction: column;
    border: 2px white solid;
    border-top: 0px;
    min-height: 273px;
    height: 1771px;
}
.topic{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    background-image: url(obrazki/elk-on-a-meadow-during-dawn-vertical-picjumbo-com.jpg);
    background-position: 0 70%;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    flex:2;
    border: 10px white solid;
    width: 100%;
}
.top1{
    height: 3rem;
    margin-bottom: 20px;
    margin-top: 20px;
}
.top1 h2{
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
    color: rgb(129, 176, 230);
    
}
.toppod{
    height: 1.9rem;
    margin-bottom: 10px;
}
.toppod h3{
    font-style: italic;
    font-weight: 500;
    font-size:2.2rem;
    text-align: center;
    color: rgb(93, 197, 175);
    text-decoration-color: white;
    letter-spacing: 1px;
}
.topic hr{
    height: 20px;
    background-color: white;
    margin-top: 4%;
    margin-bottom: 9%;
    width: 80%;
    margin-left: 10%;
}
.textt{
    height: 45%;
    margin-top:4%;
    padding-left:5%;
    padding-right: 5%;   
    padding-bottom: 5%;
}
.textt p{
    padding-top:5%;
    text-align: center;
    font-size: 1.3rem;
    color: rgb(43, 82, 92);
    background-color: hsla(164, 0%, 100%, 0.6);
    border-radius: 8%;
}
.galery2{
    /* height: 100%; */
    background-color: hsla(164, 0%, 100%, 0.6);
    display: inherit;
    justify-content: space-around;
    padding-top: 1.5%;
}
.wrap{
    display: flex;
    width: 600px;
    height: 150px;
    
}

.image1{
    transition: 1s ease-in-out;
    overflow: hidden;
    margin-right: 2%;
    width: 48%;
}
.image2{
    transition: 1s ease-in-out;
    overflow: hidden;
    margin-left: 2%;
    width: 48%;
}
.image1:hover{
    transform: scale(2);
    transform-origin: left;

}
.image2:hover{
    transform: scale(2);
    transform-origin: right;
    
}

/* right side of content/main section */
.right {
    background-color:white;
    height: auto;
    flex:1;
    min-width: 620.5px;
    height: 1760px;
    border: white solid 2px;
    max-width: 50%;
    padding-bottom: 1.6rem;
}
.galery {
    
    display: flex;
    flex-direction: column;
    border-top:2px white solid;
    border-left:2px white solid;
    border-bottom: 2px white solid;
    height: 1771px;
    padding: 5px;
    border-right: 0;
    background-color: black;
    min-width: 450px;
    object-fit: cover;
    padding-bottom: 1.5rem;
}
.photo1{
    position: relative;
    flex-grow: 1;
    height: 20%;
    width: auto;
    object-fit: contain;
    justify-content: space-between;
    border-bottom:4px black solid;
    
}
.photo1 .more{
    position: absolute;
    opacity: 0;
    transition: 1.5s ease-in-out;
}
.more{
    display: block;
    position: absolute;
    background-color: black;
    color: white;
    height: auto;
    text-align: center;
    line-height: ;
    width: 100%;
    left:0;
    bottom:0;
    font-size: 1.5rem;
}
.photo1:hover .more{
    opacity: 0.7;
}
.about {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 10px white solid;
    border-bottom: 3px white solid;
    background-image: url(obrazki/cityscape-view-of-financial-district-skyscrapers-in-san-francisco-california-picjumbo-com.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: auto;
}
.me {
    padding-top:1.5rem;
    height: 4rem;
    text-align: center;
}
#Konrad{
    font-size: 2.5rem;
    line-height: auto;
    color: rgb(223, 131, 57);
}
.about hr{
    height: 1%;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3%;
    margin-top: 2%;
}
.life{
    height: 70%;
    width: 100%;
    display: flex;
    
}
.life1{
    font-size: 1.5rem;
    text-align: center;
    padding:10%;
    color: rgb(219, 87, 120);
    padding-top:2%;
    background-color: hsla(164, 0%, 100%, 0.6);
    border-radius: 5%;
    margin-left:5%;
    margin-right:5%;
}


/* footer here */

.footer{
    display: inline-block;
    height: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    left:0;
    z-index: 1;
    text-align: left;
    opacity: 0,8;
    background: linear-gradient(to right, blue, rgb(58, 194, 240), purple, plum, pink, rgb(243, 106, 106));
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    vertical-align: center;
    padding-left: 60px;
    line-height: 1.5rem;
    letter-spacing: 2px;
}